{% extends 'flaskCP.html' %}

{% block head %} 
<title>Flask</title>
{% endblock %}


{% block body %} 
<br>
<h1>Blog Website - Flask</h1>
<br>
<div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome to Zeeth's Blog</h1>
        <p>This is my first web development project using flask, assisted by cleverprogrammer</p>
        <p>The blog site has the functionality to do all the CRUD operations</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Post a Blog &raquo;</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}